[submodule "blog"]
	path = content/blog
	url = https://github.com/dukerspace/blog
	branch = master
[submodule "content/notebook"]
	path = content/notebook
	url = https://github.com/dukerspace/the-notebook
