[submodule "blog"]
	path = content/blog
	url = https://github.com/dukerspace/blog
	branch = master
[submodule "notebook"]
	path = content/the-notebook
	url = https://github.com/dukerspace/the-notebook
